@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: "Jura", sans-serif;
    cursor: default;
}

label {
    display: block;
    user-select: none;
}

img {
    display: block;
    width: 100%;
    pointer-events: none;
}

a {
    color: tomato;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: normal;
}

@media (max-width: 599.95px) {
    body {
        font-size: large;
    }

    .only-desktop {
        display: none !important;
    }
}

@media (min-width: 600px) {
    .only-mobile {
        display: none !important;
    }
}

button {
    width: 100%;
    padding: 20px;
    border: unset;
    border-radius: 4px;
    background-color: #1e90ff;
    font: inherit;
    color: #ffffff;
    cursor: pointer;

    transition: all 200ms ease;
}

button:hover {
    filter: brightness(1.1);
}

button.green {
    background-color: #9acd32;
    color: #111111;
}

button.orange {
    background-color: #ffa500;
}

button.red {
    background-color: #ff6347;
}

button.gray {
    background-color: #999999;
}
